*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;

}


.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
    align-items: center;
    border: 2px solid whitesmoke;
    margin: auto;
    padding: 10%;
}

.submit-btn{
    background: royalblue;
    border: none;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
}

input{
    width: 100%;
    height: 30px;
    padding: 20px;
    outline-color: royalblue;
}